<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_bi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,302},{73,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,40}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_bi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,263},{70,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,46}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,263},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,310},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,357},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,404},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,451},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,498},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,541},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,545},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,574},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,570},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,174},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,313},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,351},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,389},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,379},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,427},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,417},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,465},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,503},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,455},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,493},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lingqu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{391,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,194}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lingqu2_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,2},{391,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,194}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_puwen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,152},{146,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,48}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_puwen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,2},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_fdr.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,2},{574,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{574,59}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,313},{18,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_huangzi_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,360},{18,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,43}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,407},{17,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_lanzi_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,456},{17,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,45}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_bi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,570},{39,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,24}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_bi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,603},{40,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,27}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/vip_jyjj_jiaobiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,2},{168,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,107}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,578},{31,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,531},{19,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,239},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,613},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,278},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,317},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,394},{27,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,607},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,35}</string>
			</dict>
			<key>client/res/VIP/VipHelpMoney/lb_sc3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,531},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>VipHelpMoney.png</string>
			<key>realTextureFileName</key>
			<string>VipHelpMoney.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>