<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".Piuewhaiuhaf"
            android:exported="false" />
        <activity
            android:name=".Ufejbhigsdmznd"
            android:exported="false" />
        <activity
            android:name=".Dbawiefuaiuh"
            android:exported="false" />
        <activity
            android:name=".Jnoafiewhuhsd"
            android:exported="false" />
    </application>

</manifest>