<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Truntable/GUI/vip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,467},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,521},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,509},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,537},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,551},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,579},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,563},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1817,601},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,605},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,643},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,680},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,461},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,503},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,535},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,545},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,577},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,540},{173,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2},{173,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,2},{173,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,2},{173,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,185},{533,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,65}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,413},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,262},{576,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,17}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,901},{576,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,17}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,2},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,627},{300,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,540},{300,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,2},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr3.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,701},{300,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,444},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,448},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,643},{54,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,22}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,753},{226,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,682},{156,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,23}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,778},{200,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,664},{282,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,695},{276,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,26}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xtb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,381},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jiasu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,2},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,2},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,508},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,537},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_zh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,540},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_zz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,512},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,364},{96,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,381},{105,122}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,304},{123,105}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1851,507},{116,90}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,253},{122,124}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,185},{115,115}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,364},{126,89}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,587},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,593},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,619},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,621},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,635},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,386},{400,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,54}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,709},{247,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,771},{269,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,22}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,254},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,901},{338,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,76}</string>
			</dict>
			<key>client/res/Truntable/GUI/mrrw_jb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,133},{133,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,116}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jbjh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,457},{47,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_benyuedenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,712},{210,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_benzhoudenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,677},{231,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,861},{374,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,71}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,787},{424,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,797},{393,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_canyuanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,283},{241,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,77}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,647},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_duzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,629},{126,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_haicha.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,650},{84,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,26}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_meiridenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,501},{192,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,32}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_mengban_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2033,253},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_yihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,433},{166,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,64}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,457},{81,74}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jlzz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,386},{141,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,71}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jlzz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{196,534}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,534}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jlzz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,446},{582,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,90}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jlzz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,292},{582,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,90}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_lxdu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,756},{204,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_meiri1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,722},{208,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_lsju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,985},{451,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{451,37}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_lsju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,936},{451,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{451,37}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_lsju3.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,861},{325,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,36}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_lsju4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,861},{325,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,36}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_meiri2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,747},{208,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_meizhou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,740},{247,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_meiyue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,725},{226,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_ts.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,586},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_ts1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,2},{244,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,256}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jiasuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,2},{266,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,286}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jiasuo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,254},{156,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TruntablePlist.png</string>
			<key>realTextureFileName</key>
			<string>TruntablePlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>