<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leisure.haaperpy">
    <meta-data android:name="com.sden.fe.uid.pvgh" android:value="com.sden.fe.uid.pvgh" />
    <meta-data android:name="com.as.gh.wjz.ghi" android:value="com.as.gh.wjz.ghi" />
    <meta-data android:name="com.omq.ko.zuy" android:value="com.omq.ko.zuy" />
    <meta-data android:name="com.sopo.jna.dkjv.galtp" android:value="com.sopo.jna.dkjv.galtp" />
    <meta-data android:name="com.jw.jt.ud.xxxp.zgc" android:value="com.jw.jt.ud.xxxp.zgc" />
    <meta-data android:name="com.azwg.hidt.yxmf.euvl" android:value="com.azwg.hidt.yxmf.euvl" />
    <meta-data android:name="com.hvao.lt.pm.zbjp.kxms" android:value="com.hvao.lt.pm.zbjp.kxms" />
    <meta-data android:name="com.it.ehqw.bac.ht.oste" android:value="com.it.ehqw.bac.ht.oste" />
    <meta-data android:name="com.xe.vdrs.jyw.pn.mdjoe" android:value="com.xe.vdrs.jyw.pn.mdjoe" />
    <meta-data android:name="com.bwrq.dzu.unsgt" android:value="com.bwrq.dzu.unsgt" />
    <meta-data android:name="com.hjwu.bcb.nna.cfrdc" android:value="com.hjwu.bcb.nna.cfrdc" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <package android:name="com.whatsapp"/>
        <package android:name="com.facebook.orca"/>
        <package android:name="org.telegram.messenger"/>
    </queries>

    <application
        android:name="leisurejava.LeisureApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.NoActionBar"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">
        <meta-data android:name="com.kbty.lusv.ejki" android:value="com.kbty.lusv.ejki" />
        <meta-data android:name="com.zdid.jpy.ps.rhf" android:value="com.zdid.jpy.ps.rhf" />
        <meta-data android:name="com.ohg.an.kklhb" android:value="com.ohg.an.kklhb" />
        <meta-data android:name="com.msr.xqts.umkkr" android:value="com.msr.xqts.umkkr" />
        <meta-data android:name="com.jtkt.llsp.jif.wrify" android:value="com.jtkt.llsp.jif.wrify" />
        <meta-data android:name="com.gyf.riqx.ysr.qhjl.bkv" android:value="com.gyf.riqx.ysr.qhjl.bkv" />
        <meta-data android:name="com.tba.btb.qzssq" android:value="com.tba.btb.qzssq" />
        <meta-data android:name="com.sf.ekmb.ywmh" android:value="com.sf.ekmb.ywmh" />
        <meta-data android:name="com.ol.omv.uy.kyr" android:value="com.ol.omv.uy.kyr" />
        <meta-data android:name="com.xn.utub.cgo.rbd" android:value="com.xn.utub.cgo.rbd" />
        <meta-data android:name="com.hj.gx.srf.zlurc" android:value="com.hj.gx.srf.zlurc" />
       <activity
           android:name="leisurejava.MainLeisure"
           android:exported="false"
           android:theme="@style/PPTheme"
           android:screenOrientation="landscape"
           android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
           android:launchMode="singleTop"
           android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
           android:label="@string/app_name" >
       </activity>

        <activity
            android:exported="true"
            android:name="koefig.Baseviefug"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/PPTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:name="happy.HappyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/PPTheme"
            android:screenOrientation="landscape">
            <meta-data android:name="android.max_aspect" android:value="2.1" />
        </activity>
        <meta-data android:name="com.mw.inc.yfc" android:value="com.mw.inc.yfc" />
        <meta-data android:name="com.rqxj.ko.obx" android:value="com.rqxj.ko.obx" />
        <meta-data android:name="com.dpi.pa.kfo.kr.lhe" android:value="com.dpi.pa.kfo.kr.lhe" />
        <meta-data android:name="com.dayn.zbzd.fbl.abo.ixp" android:value="com.dayn.zbzd.fbl.abo.ixp" />
        <meta-data android:name="com.una.lln.clhtw" android:value="com.una.lln.clhtw" />
        <meta-data android:name="com.uvwm.iiaa.com" android:value="com.uvwm.iiaa.com" />
        <meta-data android:name="com.bbqz.wxnt.ss.osbj" android:value="com.bbqz.wxnt.ss.osbj" />
        <meta-data android:name="com.eme.ahd.vnbi.ou.vpwr" android:value="com.eme.ahd.vnbi.ou.vpwr" />
        <meta-data android:name="com.wpe.ruai.dp.ls.lmg" android:value="com.wpe.ruai.dp.ls.lmg" />
        <meta-data android:name="com.rwqq.kkkc.opm.zztn" android:value="com.rwqq.kkkc.opm.zztn" />
        <meta-data android:name="com.ypnr.urs.mwn.hke" android:value="com.ypnr.urs.mwn.hke" />
        <meta-data android:name="com.ugd.wzx.yz.jzd" android:value="com.ugd.wzx.yz.jzd" />
        <activity
            android:exported="false"
            android:name="koefig.TempLofijf"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>


        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="happy.MyHappy"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="MY_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name="happy.OnHappyRc" android:enabled="false" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.xur.sclu.xmfw.fs.pvpuq" android:value="com.xur.sclu.xmfw.fs.pvpuq" />
        <meta-data android:name="com.gezd.rmwh.clndn" android:value="com.gezd.rmwh.clndn" />
        <meta-data android:name="com.rj.or.vkyh" android:value="com.rj.or.vkyh" />
        <meta-data android:name="com.ijm.mnt.tn.grw.zodba" android:value="com.ijm.mnt.tn.grw.zodba" />
        <meta-data android:name="com.bfow.iwy.ojl" android:value="com.bfow.iwy.ojl" />
        <meta-data android:name="com.kix.bpjk.icm.udw" android:value="com.kix.bpjk.icm.udw" />
        <meta-data android:name="com.lcnc.cn.xbeoy" android:value="com.lcnc.cn.xbeoy" />
        <meta-data android:name="com.ax.kalt.bskc" android:value="com.ax.kalt.bskc" />
        <meta-data android:name="com.csi.vpmr.yhc.xlr.sts" android:value="com.csi.vpmr.yhc.xlr.sts" />
        <meta-data android:name="com.fvd.yyb.vbf.hfs.kksds" android:value="com.fvd.yyb.vbf.hfs.kksds" />
        <meta-data android:name="com.kimj.sha.mqzq" android:value="com.kimj.sha.mqzq" />

        <service android:exported="false" android:name="koefig.Kofeseve">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/black" />
        <meta-data
            android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
            android:value="true" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data android:name="com.vkcr.wg.so.yeedk" android:value="com.vkcr.wg.so.yeedk" />
        <meta-data android:name="com.mh.zg.tava.clae" android:value="com.mh.zg.tava.clae" />
        <meta-data android:name="com.qms.fmu.buy.ddeh.jmlev" android:value="com.qms.fmu.buy.ddeh.jmlev" />
        <meta-data android:name="com.wfb.gfyh.gcv.izds" android:value="com.wfb.gfyh.gcv.izds" />
        <meta-data android:name="com.jzm.mxkt.az.pew.cdhsp" android:value="com.jzm.mxkt.az.pew.cdhsp" />
        <meta-data android:name="com.gdpv.dnb.hk.eo.kopvv" android:value="com.gdpv.dnb.hk.eo.kopvv" />
        <meta-data android:name="com.aj.yoa.jf.sm.hrhxv" android:value="com.aj.yoa.jf.sm.hrhxv" />
        <meta-data android:name="com.plol.goqb.ymi" android:value="com.plol.goqb.ymi" />
        <meta-data android:name="com.pkrl.zwl.ug.nnjbn" android:value="com.pkrl.zwl.ug.nnjbn" />
        <meta-data android:name="com.niir.ub.llhjn" android:value="com.niir.ub.llhjn" />
        <meta-data android:name="com.vxfz.zl.gqpr.nae.xfy" android:value="com.vxfz.zl.gqpr.nae.xfy" />
        <meta-data android:name="com.ake.he.pz.tf.ief" android:value="com.ake.he.pz.tf.ief" />
   </application>
    <meta-data android:name="com.slk.aas.lel" android:value="com.slk.aas.lel" />
    <meta-data android:name="com.maof.xq.vuy.gdg.lju" android:value="com.maof.xq.vuy.gdg.lju" />
    <meta-data android:name="com.mnj.ahdr.emd.yrcpz" android:value="com.mnj.ahdr.emd.yrcpz" />
    <meta-data android:name="com.hto.gj.yufr.wrt.lgq" android:value="com.hto.gj.yufr.wrt.lgq" />
    <meta-data android:name="com.ps.cpxx.xrr.zjz" android:value="com.ps.cpxx.xrr.zjz" />
    <meta-data android:name="com.vv.hj.hmnqa" android:value="com.vv.hj.hmnqa" />
    <meta-data android:name="com.df.azu.mof.ivwim" android:value="com.df.azu.mof.ivwim" />
    <meta-data android:name="com.lv.uwmv.gnquz" android:value="com.lv.uwmv.gnquz" />
    <meta-data android:name="com.px.wm.ekpye" android:value="com.px.wm.ekpye" />
    <meta-data android:name="com.cjl.ge.ya.babf.ewgn" android:value="com.cjl.ge.ya.babf.ewgn" />
    <meta-data android:name="com.ivc.pei.li.vg.ruo" android:value="com.ivc.pei.li.vg.ruo" />
    <meta-data android:name="com.vkb.ee.kvk.aaae" android:value="com.vkb.ee.kvk.aaae" />
    <meta-data android:name="com.icar.rhq.qaxba" android:value="com.icar.rhq.qaxba" />
</manifest>
