<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/signin/GUI/qd_biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{998,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{998,165}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,911},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,911},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,954},{124,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia4.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,911},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia5.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,911},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,954},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia7.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,911},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>client/res/signin/GUI/qd_qjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,911},{148,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,111}</string>
			</dict>
			<key>client/res/signin/GUI/sign_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,911},{158,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,86}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,911},{584,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,65}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,819},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,616},{137,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,96}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,495},{138,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,761},{142,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,138}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,347},{140,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,586},{163,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,188}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,171},{169,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,226}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,980},{906,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{906,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,458},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,488},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,518},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,2},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,439},{40,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,952},{80,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,302},{80,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,954},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd6.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,242},{82,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,56}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,401},{208,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,181}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,716},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,548},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,472},{207,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,398}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,347},{209,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,410}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,439},{209,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,421}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,2},{209,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,433}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,462},{208,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,445}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,2},{207,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,456}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,2},{213,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,761},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,864},{231,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,140}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,240},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,586},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/guanbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,171},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,761},{270,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,120}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,761},{282,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,132}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,171},{69,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,67}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{348,341}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,341}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,874},{109,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,26}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipwz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,911},{89,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,34}</string>
			</dict>
			<key>client/res/signin/GUI/leftPng/mrdl_vipwz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,911},{100,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SigninPlist.png</string>
			<key>realTextureFileName</key>
			<string>SigninPlist.png</string>
			<key>size</key>
			<string>{2039,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2039</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>