<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,348},{190,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,102}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1},{345,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,186}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1},{345,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,186}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{345,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,186}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,189},{345,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,186}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{385,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,226}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{372,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,100}</string>
			</dict>
			<key>client/res/Gift/GUI/fanli/libao_fl1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,452},{286,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Gift2Plist.png</string>
			<key>realTextureFileName</key>
			<string>Gift2Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>