<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Lobby/GUI/Hall/libaorukou_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,803},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/rz_rukou_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,2},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/rz_rukou_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,897},{95,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,50}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,131},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/common_cd.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,323},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibuban_bg_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,378},{410,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,83}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_email_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,515},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_huodongtu_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,71},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_huodongtu_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,71},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jiahao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,841},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jinbi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,645},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jinbidi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,951},{242,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,52}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_julebu_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,465},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_kefu2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,567},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_libao4_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,39},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_paihang_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,568},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_puchanbuzhu1_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,425},{217,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,139}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_puchanbuzhu2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,898},{127,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,39}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_shezhi2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,669},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_TCbi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,950},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_tixian_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,617},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_yinhang_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,670},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/userinfo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,2},{426,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,202}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,865},{148,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,22}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_yinhangxiao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,208},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,989},{148,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,22}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/vip_touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,425},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibu_di2_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,866},{225,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,80}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibu_di3_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,897},{224,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,88}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_di_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,727},{82,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,72}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_hot1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,465},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_hot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,559},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_lazer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,653},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_lazer2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,747},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_slots1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,772},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye_slots2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,771},{199,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,90}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye1_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,241},{87,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,78}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_qiehuanye2_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,645},{87,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,78}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_lianzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,208},{371,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,213}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,2},{98,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,125}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_suovip.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,841},{128,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,52}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_zhezhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_Bbi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,706},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_recarga_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,573},{151,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallPlist.png</string>
			<key>realTextureFileName</key>
			<string>HallPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>