<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/ShareTurnTable/0x.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/1x.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/4x.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/6x.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/7x.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/8x.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/9x.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1238},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/back2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,2},{130,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,150}</string>
			</dict>
			<key>client/res/ShareTurnTable/button012x.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,575},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/circle_zhizheng2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,963},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>
			<key>client/res/ShareTurnTable/howBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,205},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>client/res/ShareTurnTable/linvkply2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1746},{76,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,40}</string>
			</dict>
			<key>client/res/ShareTurnTable/lishijilv2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,307},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucky_bk2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,575},{562,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{562,74}</string>
			</dict>
			<key>client/res/ShareTurnTable/right2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1238},{70,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,52}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin_font2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1238},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1141},{291,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,154}</string>
			</dict>
			<key>client/res/ShareTurnTable/wrong2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1427},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>client/res/ShareTurnTable/x2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1148},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>client/res/ShareTurnTable/registrodeinvitac.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,289},{1008,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1008,78}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle_SPINE.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,289},{382,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,231}</string>
			</dict>
			<key>client/res/ShareTurnTable/button2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1822},{302,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1539},{201,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucklefe.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1301},{182,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,221}</string>
			</dict>
			<key>client/res/ShareTurnTable/button22x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,575},{332,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,132}</string>
			</dict>
			<key>client/res/ShareTurnTable/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,941},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,2},{1506,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1506,81}</string>
			</dict>
			<key>client/res/ShareTurnTable/tc_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1950},{741,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,77}</string>
			</dict>
			<key>client/res/ShareTurnTable/Regras_de_desbloqueio.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1493},{563,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{563,42}</string>
			</dict>
			<key>client/res/ShareTurnTable/button001.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,711},{221,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,91}</string>
			</dict>
			<key>client/res/ShareTurnTable/showVip.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,963},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_certo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,2},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_xiala.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1027},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>client/res/ShareTurnTable/kuang_seclt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1058},{224,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,67}</string>
			</dict>
			<key>client/res/ShareTurnTable/money2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1512},{274,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,242}</string>
			</dict>
			<key>client/res/ShareTurnTable/selctbk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1539},{203,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/selctbk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,941},{203,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/xltsi.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1058},{71,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>client/res/ShareTurnTable/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,289},{1247,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1247,1}</string>
			</dict>
			<key>client/res/ShareTurnTable/loading001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,2024},{515,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,19}</string>
			</dict>
			<key>client/res/ShareTurnTable/loading002.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1493},{519,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,23}</string>
			</dict>
			<key>client/res/ShareTurnTable/button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1520},{298,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,163}</string>
			</dict>
			<key>client/res/ShareTurnTable/Tudodentro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,136},{154,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/box_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1539},{221,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,275}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,524},{353,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,881},{353,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,2},{205,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_box02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,211},{188,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep03.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1746},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1450},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep02.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1238},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/line01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,1916},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,1916},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,1916},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/lybel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,344},{162,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,83}</string>
			</dict>
			<key>client/res/ShareTurnTable/box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,711},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,119},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,119},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,304},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,403},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,510},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,304},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/box08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,489},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1540},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,1790},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1301},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font001.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1301},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font002.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,524},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font003.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,524},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel001.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1427},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,61}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel01.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1427},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,61}</string>
			</dict>
			<key>client/res/ShareTurnTable/Podeserresgatado.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1148},{423,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,73}</string>
			</dict>
			<key>client/res/ShareTurnTable/Prmioobtido.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1520},{429,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{429,53}</string>
			</dict>
			<key>client/res/ShareTurnTable/lin001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1301},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line002.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1427},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel3.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,922},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1790},{406,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,156}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1540},{406,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,156}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/button _con.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,2},{338,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/button_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,2},{338,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/font_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{500,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,283}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/intrduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{592,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,569}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/font.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1744},{90,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,72}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/jilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1953},{640,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,67}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/jindutia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,289},{598,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{598,24}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/jindutia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,891},{598,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{598,24}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/wenzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1950},{136,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,89}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1938},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1744},{73,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,52}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1427},{185,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,47}</string>
			</dict>
			<key>client/res/ShareTurnTable/ShareStepLayer2/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1427},{217,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>realTextureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>